<nav class="navbar navbar-expand navbar-light bg-white border-bottom admin-topnavbar">
  <div class="container-fluid">
    <button class="btn btn-link d-md-none text-dark" id="sidebarToggle"><i class="fa fa-bars"></i></button>
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <ul class="nav ms-auto align-items-center">
      <li class="nav-item me-3"><a class="nav-link text-dark" href="#"><i class="fa fa-bell"></i></a></li>
      <li class="nav-item me-3"><a class="nav-link text-dark" href="#"><i class="fa fa-envelope"></i></a></li>
      <li class="nav-item"><a class="nav-link text-dark" href="#"><i class="fa fa-user-circle-o"></i></a></li>
    </ul>
  </div>
</nav>
