  <!--about section start -->
  <div class="about_section layout_padding">
    <div class="container">
       <h1 class="about_taital">{{content?.title}}</h1>
       <p class="about_text">{{content?.subTitle}}</p>
       <div class="about_section_2">
          <div class="row">
             <div class="col-lg-6">
                <div class="about_image"><img src="assets/images/about-img.png"></div>
             </div>
             <div class="col-lg-6">
                <div class="about_taital_main">
                   <p class="lorem_text">{{content?.description}} </p>
                   <div class="read_bt"><a href="#">Read More</a></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--about section end -->