
  <!--header section start -->
  <app-header></app-header>
  
  <!--header section end -->
  <router-outlet></router-outlet>
  <!-- footer section start -->
  <app-footer></app-footer>

  <!-- footer section end -->
  <!-- copyright section start -->
  <div class="copyright_section">
     <div class="container">
        <p class="copyright_text">Copyright 2023 All Rights Reserved.<a href="#"> Pest Free Zone</a></p>
     </div>
  </div>
  <!-- copyright section end -->
  <!-- Javascript files-->
 
