<div class="footer_section layout_padding">
    <div class="container">
       <div class="location_main">
          <div class="location_text"><img src="assets/images/map-icon.png"><span class="padding_left_10"><a href="#">Location</a></span></div>
          <div class="location_text center"><img src="assets/images/call-icon.png"><span class="padding_left_10"><a href="#">Call : 9205385529</a></span></div>
          <div class="location_text right"><img src="assets/images/mail-icon.png"><span class="padding_left_10"><a href="#">info@pestfreezone.in</a></span></div>
       </div>
       <div class="footer_section_2">
          <div class="row">
             <div class="col-lg-4">
                <h2 class="footer_taital">About</h2>
                <p class="footer_text">{{content?.title }}</p>
             </div>
             <div class="col-lg-4">
                <h2 class="footer_taital">Services Link</h2>
                <p class="footer_text">{{content?.description }}</p>
             </div>
             <div class="col-lg-4">
                <h2 class="footer_taital">Subscribe</h2>
                <input type="text" class="Enter_text" placeholder="Enter Your Email" name="Enter Your Email">
                <div class="subscribe_bt"><a href="#">Subscribe</a></div>
             </div>
          </div>
       </div>
    </div>
 </div>